SECRET_KEY=changeme
BACKEND_URL=http://backend:5000
ADMIN_USERNAME=admin
# Generar con:
# python3 -c "from werkzeug.security import generate_password_hash; print(generate_password_hash('tu_password_aqui'))"
ADMIN_PASSWORD_HASH=changeme
